
@font-face {
  font-family: 'Papyrus';
  src: local('Papyrus'), url("../fonts/Papyrus.woff") format('woff');
}

h3 {
  font-family: 'Papyrus';
}

p {
  margin-bottom: 0px;
}

#aboutContent {
  background-image: url("../images/parchment.jpg");
  background-size: cover, contain;
  background-repeat: no-repeat;
  padding-top: 0px;
  padding-right: 10px;
}

#aboutHeader {
  padding-top: 0px;
  padding-right: 0px;
}

#aboutTitle {
  font-family: 'Papyrus';
  padding-top: 20px;
  font-weight: 650;
}

#aboutBtnClose {
  margin-left: 182.062px;
  margin-top: 0px;
}

#aboutBody {
  text-align: left;
  font-family: 'Papyrus';
  font-weight: 650;
  padding-bottom: 0px;
}

button {
  width: auto;
}

#aboutDialog {
  max-width: 500px;
  margin-top: 350px;
  margin-left: 120px;
}

#aboutFooter {
  text-align: left;
  font-family: 'Papyrus';
  font-weight: 650;
}

#aboutImage {
  width: 100px;
  /* padding-left: 20px; */
}

.aboutMaps {
  display: flex;
  flex-direction: column;
  justify-items: center;
}