@font-face {
  font-family: 'Papyrus';
  src: local('Papyrus'), url("../fonts/Papyrus.woff") format('woff');
}

h1 {
  font-family: 'Papyrus';
}

.homeBaseBody {
  display: flex;
  /* justify-content: space-evenly; */
}

.baseMap {
  padding-top: 80px;
  padding-left: 80px;
}

.loginFields {
  padding-top: 88px;
  padding-left: 30px;
}

.form-control {
  border-width: 2px;
}

.btn-outline-primary {
  border-width: 2px;
}