
.welcomeText {
  padding-top: 40px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
}


.profilePic {
  width: 100px;
  padding-bottom: 20px;
  margin-right: 40px;
  margin-bottom: 10px;
  margin-top: -15px;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(0px 2px 2px #222);
}

h1 {
  margin: none;
  color: white;
  font-size: 90px;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(0px 2px 2px #222);
}

.hbInput {
  display: none;
}

.profileBody{
  display: flex;
  justify-content: center;
}

.newLocFields {
  padding-top: 18px;
  padding-left: 20px;
  /* -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(0px 1px 1px #222); */
}

.profileMap {
  padding-top: 10px;
  padding-left: 80px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(0px 3px 5px #222);
}

.locTable {
  padding-top: 20px;
}

.destination-table {
  margin: 0 auto 40px auto;
  font-size: 1em;
  display: none;
}

.destination-table th,
td {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding: 5px 10px;
  text-align: center;
  text-shadow: none;
  -webkit-filter: drop-shadow(none);
  filter: drop-shadow(none);
}

#infoCard {
  width: 300px;
  margin-top: 10px;
}

p {
  font-family: 'Papyrus';
  font-weight: 650;
}